flask
firebase-admin
opencv-python
pickle
mediapipe
pandas
numpy
flask-cors
# Audio processing dependency (likely)
moviepy  # Assuming moviepy is used for audio extraction 

# Deep learning dependencies
tensorflow
transformers

# Image processing dependency (likely)
imutils

# Text processing dependency (likely)
scikit-learn